[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.8.0"
pylint = "==2.5.2"
invoke = "==1.4.1"
mypy = "==0.770"
pytest = "==5.4.2"
black = "==19.10b0"

[packages]
python-dotenv = "==0.13.0"
loguru = "==0.4.1"
plotly = "==4.7.1"
selenium = "==3.141.0"

[requires]
python_version = "3.8"
